@font-face{
    font-family: 'Platypi-Italic';
    src: url('fonts/Platypi-Italic.ttf');
}
@font-face{
    font-family: 'Platypi';
    src: url('fonts/Platypi.ttf');
}
@font-face{
    font-family: 'Acme-Regular';
    src: url('fonts/Acme-Regular.ttf');
}
@font-face{
    font-family: 'Ubuntu-Medium';
    src: url('fonts/Ubuntu-Medium.ttf');
}
@font-face{
    font-family: 'Ubuntu-Light';
    src: url('fonts/Ubuntu-Light.ttf');
}
@font-face{
    font-family: 'Ubuntu-Large';
    src: url('fonts/Ubuntu-Bold.ttf');
}
@font-face{
    font-family: 'Ubuntu-Medium-Italic';
    src: url('fonts/Ubuntu-MediumItalic.ttf');
}



.loginBody, .registerBody{
    /* background-color: yellow ;
    /* background-image: url("background.jpeg") ; */
    /* position: relative; */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover; 
    /* z-index: 1; */
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    /* background-image: linear-gradient(0deg, hsla(284,95%,60%,1),hsla(269,95%,60%,1)); */
    background-image:radial-gradient(circle 5px at 67% 49%, rgb(43,43,43) 0%, rgb(43,43,43) 50%,transparent 50%, transparent 100%),
    radial-gradient(circle 5px at 15% 85%, rgb(43,43,43) 0%, rgb(43,43,43) 50%,transparent 50%, transparent 100%),
    radial-gradient(circle 5px at 26% 60%, rgb(43,43,43) 0%, rgb(43,43,43) 50%,transparent 50%, transparent 100%),
    radial-gradient(circle 5px at 24% 96%, rgb(43,43,43) 0%, rgb(43,43,43) 50%,transparent 50%, transparent 100%),
    radial-gradient(circle 5px at 26% 73%, rgb(43,43,43) 0%, rgb(43,43,43) 50%,transparent 50%, transparent 100%),
    radial-gradient(circle 10px at 85% 15%, rgb(43,43,43) 0%, rgb(43,43,43) 50%,transparent 50%, transparent 100%),
    radial-gradient(circle 10px at 19% 63%, rgb(43,43,43) 0%, rgb(43,43,43) 50%,transparent 50%, transparent 100%),
    radial-gradient(circle 10px at 12% 68%, rgb(43,43,43) 0%, rgb(43,43,43) 50%,transparent 50%, transparent 100%),
    radial-gradient(circle 10px at 72% 48%, rgb(43,43,43) 0%, rgb(43,43,43) 50%,transparent 50%, transparent 100%),
    radial-gradient(circle 10px at 48% 31%, rgb(43,43,43) 0%, rgb(43,43,43) 50%,transparent 50%, transparent 100%),
    radial-gradient(circle at center right, rgb(53,53,53) 0%, rgb(53,53,53) 14%,transparent 14%, transparent 86%),
    linear-gradient(0deg, hsla(284,95%,60%,1),hsla(269,95%,60%,1));
    /* animation: rotatebackground 1s linear infinite ;
    transform: animation 5s ease-in-out infinite;  */
}
.loginBody::before, .registerBody::before,
.loginBody::after, .registerBody::after, 
.loginBody2::before, .registerBody2::before, 
.loginBody2::after, .registerBody2::after, 
.loginBody3::before, .registerBody3::before, 
.loginBody3::after, .registerBody3::after, 
.loginBody4::before, .registerBody4::before,
.loginBody4::after, .registerBody4::after{
    content: '';
    position: absolute;
    z-index: -1;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-image: linear-gradient(0deg, rgb(85, 13, 111),rgb(114, 11, 224));
    animation: rotatebackground 25s linear infinite; 
}
.loginBody::before, .registerBody::before{
    top: 10vh;
    left: 58vw;
}
.loginBody::after, .registerBody::after {
    top: 70vh;
    left: 40vw;
  }
.loginBody2::before, .registerBody2::before {
    top: 50vh;
    left: 55vw;
}
.loginBody2::after, .registerBody2::after {
    top: 20vh;
    left: 35vw;
}
.loginBody3::before, .registerBody3::before {
    top: 10vh;
    left: 5vw;
}
.loginBody3::after, .registerBody3::after {
    top: 45vh;
    left: 15vw;
}
.loginBody4::before, .registerBody4::before {
    top: 35vh;
    left: 72vw;
}
.loginBody4::after, .registerBody4::after {
    top: 80vh;
    left: 85vw;
}

@keyframes rotatebackground{
    0% {
        transform: rotate(0deg); 
      }
      100% {
        transform: rotate(360deg); 
      }
} 
/*
@media screen and (max-width: 1300px){
    .loginBody::before, .registerBody::before{
        /* display: none; 
        top: -2vh;
        left: 13vw;
        width: 30vw;
        height: 30vw;
    }
    .loginBody::after, .registerBody::after{
        /* display: none; 
        top: 70vh;
        left: 13vw;
        width: 30vw;
        height: 30vw;
    }
    .loginBlock::before, .registerBlock::before{
        /* display: none; 
        top: 20vh;
        left: -40vw;
        width: 30vw;
        height: 30vw;
    }
    .loginBlock::after, .registerBlock::after{
        /* display: none; 
        top: -20vh;
        left: 60vw;
        width: 30vw;
        height: 30vw;
    }
    
} */




.loginBlock, .registerBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 45vw;
    max-width: 400px;
    height: 550px;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    /* border: 1px solid red;  */
    position: absolute;
    /* background: rgb(39, 34, 34);
    opacity: 0.8; */
     /* border-radius: 20px; */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.verifyBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    width: 80vw;
    max-width: 1000px;
    height: 350px;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    /* border: 1px solid red;  */
    position: absolute;
    /* background: rgb(39, 34, 34);
    opacity: 0.8; */
     /* border-radius: 20px; */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    gap: 5px;
}
.verify_text{
    font-family: 'Acme-Regular';
    color: lightblue;
    font-size: 30px;
    padding: 20px;

}
.verify_text_end{
    font-family: 'Acme-Regular';
    color: rgb(99, 216, 255);
    font-size: 30px;

}
.registerBlock{
    height: 600px !important;
    width: 50vw !important;
    max-width: 430px;
}
.login_heading_block, .register_heading_block{
    /* border: 1px solid red; */
    width: 100%;
    /* transform: translate(0%, -57%); */
    display: flex;
    justify-content: center;
    transform: translate(0%, -135%);
    /* height: 50px; */
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
}
.login_heading_text, .register_heading_text{
    font-family: 'Acme-Regular';
    color: white;
    font-size: 3rem; 
}
@media screen and (max-width: 750px){
    .login_heading_text, .register_heading_text{
        font-size: 6.5vw;
        margin-top: 10px;
    }
}
.login_logo, .register_logo{
    transform: translate(0%, -15%);
    width: 45%;
}
.verify_logo{
    width: 180px;
    transform: translate(0%, -5%);
    
}
.login_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* gap: 20px; */
    height: 30%;
    transform: translate(0%,-30%);
}
.register_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45%;
    align-items: center;
    /* gap: 20px; */
    transform: translate(0%,-20%);

}
.login_username, .register_username, .register_email, .register_confirm_password, .login_password, .register_password{
    width: 95%;
    height: 30px;
    outline: none;
    border-radius: 5px;
    padding:5px;
    font-size: 18px;
    font-family: 'Ubuntu-Medium';
    transition: all 0.2s ease-in-out;
    opacity: 0.95;

}
.login_username, .login_password{
    height: 45px;
}
.login_username:focus, .register_username:focus, .register_email:focus, .register_confirm_password:focus, .login_password:focus, .register_password:focus{
    opacity: 1;

}
.login_username::placeholder, .register_username::placeholder, .register_email::placeholder, .register_confirm_password::placeholder, .login_password::placeholder, .register_password::placeholder{
    /* padding-left: 5px ; */
    font-size: 18px;
    /* transform: translate(0% , 10%) */
}
.login_submit_btn, .register_submit_btn{
    width: 120px;
    height: 45px;
    transform: translate(-5%, 30%);
    border-radius: 5px;
    background-color: rgb(90, 99, 226);
    font-family: 'Ubuntu-Medium';
    /* text-align: center; */
    color: rgb(240, 235, 204);
    font-size: 20px;
    transition: all 0.2s ease-in-out;
    border: 2px solid transparent;
}
.login_submit_btn:hover, .register_submit_btn:hover{
    background-color: rgb(89, 147, 224);
    border: 1px solid rgb(240, 235, 204);
    font-size: 21px;
}
.login_submit_btn:focus, .register_submit_btn:focus{
    font-size: 22px;
    color: crimson;
}

.login_register_block{
    transform: translate(0%, -150%) !important;
}
.register_login_block{
    transform: translate(0%, -100%) !important;
}
.login_register_text, .register_login_text{
    color: white;
    font-family: 'Ubuntu-Medium';
    text-shadow: 1px 1px 1px black;
}
.login_register_link, .register_login_link{
    color: rgb(198, 242, 255);
    font-family: 'Ubuntu-Medium-Italic';
    transition: all 0.3s ease

}
.login_register_link:hover, .register_login_link:hover{
    color: rgb(115, 209, 241);
}
.login_register_link:focus, .register_login_link:focus{
    color: rgb(52, 191, 237);
}


.mainbody{
    background-image:
    linear-gradient(200deg, rgba(213, 213, 213, 0.01) 0%, rgba(213, 213, 213, 0.01) 14.286%,rgba(140, 140, 140, 0.01) 14.286%, rgba(140, 140, 140, 0.01) 28.572%,rgba(52, 52, 52, 0.01) 28.572%, rgba(52, 52, 52, 0.01) 42.858%,rgba(38, 38, 38, 0.01) 42.858%, rgba(38, 38, 38, 0.01) 57.144%,rgba(159, 159, 159, 0.01) 57.144%, rgba(159, 159, 159, 0.01) 71.42999999999999%,rgba(71, 71, 71, 0.01) 71.43%, rgba(71, 71, 71, 0.01) 85.71600000000001%,rgba(88, 88, 88, 0.01) 85.716%, rgba(88, 88, 88, 0.01) 100.002%),
    linear-gradient(337deg, rgba(25, 25, 25, 0.01) 0%, rgba(25, 25, 25, 0.01) 12.5%,rgba(150, 150, 150, 0.01) 12.5%, rgba(150, 150, 150, 0.01) 25%,rgba(84, 84, 84, 0.01) 25%, rgba(84, 84, 84, 0.01) 37.5%,rgba(85, 85, 85, 0.01) 37.5%, rgba(85, 85, 85, 0.01) 50%,rgba(188, 188, 188, 0.01) 50%, rgba(188, 188, 188, 0.01) 62.5%,rgba(80, 80, 80, 0.01) 62.5%, rgba(80, 80, 80, 0.01) 75%,rgba(73, 73, 73, 0.01) 75%, rgba(73, 73, 73, 0.01) 87.5%,rgba(219, 219, 219, 0.01) 87.5%, rgba(219, 219, 219, 0.01) 100%),
    linear-gradient(203deg, rgba(233, 233, 233, 0.01) 0%, rgba(233, 233, 233, 0.01) 25%,rgba(114, 114, 114, 0.01) 25%, rgba(114, 114, 114, 0.01) 50%,rgba(164, 164, 164, 0.01) 50%, rgba(164, 164, 164, 0.01) 75%,rgba(228, 228, 228, 0.01) 75%, rgba(228, 228, 228, 0.01) 100%),
    linear-gradient(317deg, rgba(139, 139, 139, 0.02) 0%, rgba(139, 139, 139, 0.02) 16.667%,rgba(44, 44, 44, 0.02) 16.667%, rgba(44, 44, 44, 0.02) 33.334%,rgba(166, 166, 166, 0.02) 33.334%, rgba(166, 166, 166, 0.02) 50.001000000000005%,rgba(2, 2, 2, 0.02) 50.001%, rgba(2, 2, 2, 0.02) 66.668%,rgba(23, 23, 23, 0.02) 66.668%, rgba(23, 23, 23, 0.02) 83.33500000000001%,rgba(21, 21, 21, 0.02) 83.335%, rgba(21, 21, 21, 0.02) 100.002%),
    linear-gradient(328deg, rgba(3, 3, 3, 0.03) 0%, rgba(3, 3, 3, 0.03) 12.5%,rgba(116, 116, 116, 0.03) 12.5%, rgba(116, 116, 116, 0.03) 25%,rgba(214, 214, 214, 0.03) 25%, rgba(214, 214, 214, 0.03) 37.5%,rgba(217, 217, 217, 0.03) 37.5%, rgba(217, 217, 217, 0.03) 50%,rgba(68, 68, 68, 0.03) 50%, rgba(68, 68, 68, 0.03) 62.5%,rgba(118, 118, 118, 0.03) 62.5%, rgba(118, 118, 118, 0.03) 75%,rgba(200, 200, 200, 0.03) 75%, rgba(200, 200, 200, 0.03) 87.5%,rgba(198, 198, 198, 0.03) 87.5%, rgba(198, 198, 198, 0.03) 100%),
    linear-gradient(97deg, rgba(195, 195, 195, 0.03) 0%, rgba(195, 195, 195, 0.03) 16.667%,rgba(177, 177, 177, 0.03) 16.667%, rgba(177, 177, 177, 0.03) 33.334%,rgba(170, 170, 170, 0.03) 33.334%, rgba(170, 170, 170, 0.03) 50.001000000000005%,rgba(158, 158, 158, 0.03) 50.001%, rgba(158, 158, 158, 0.03) 66.668%,rgba(121, 121, 121, 0.03) 66.668%, rgba(121, 121, 121, 0.03) 83.33500000000001%,rgba(146, 146, 146, 0.03) 83.335%, rgba(146, 146, 146, 0.03) 100.002%),
    linear-gradient(268deg, rgba(103, 103, 103, 0.03) 0%, rgba(103, 103, 103, 0.03) 25%,rgba(112, 112, 112, 0.03) 25%, rgba(112, 112, 112, 0.003) 50%,rgba(4, 4, 4, 0.03) 50%, rgba(4, 4, 4, 0.03) 75%,rgba(227, 227, 227, 0.003) 75%, rgba(227, 227, 227, 0.03) 100%),linear-gradient(90deg, hsl(98,0%,0%),hsl(98,0%,0%));
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    /* text-align: center; */
    overflow-x: hidden;
    overflow-y: scroll;
    
}
.mainbody::-webkit-scrollbar {
    height: 6px;
    width: 10px; 
  }

.mainbody::-webkit-scrollbar-thumb {
    background: repeating-linear-gradient(135deg, rgb(0,0,0) 0px, rgb(0,0,0) 10px,transparent 10px, transparent 11px),
    repeating-linear-gradient(22.5deg, rgb(0,0,0) 0px, rgb(0,0,0) 10px,transparent 10px, transparent 11px),
    linear-gradient(90deg, hsl(194,74%,56%),hsl(266,74%,56%),hsl(338,74%,56%),hsl(50,74%,56%),hsl(122,74%,56%)); 
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: content-box;
}   

.mainbody::-webkit-scrollbar-track {
  background-color: black;

} 
.main_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: -40px;
}
.main_heading{
    padding-top: 100px !important;
    font-size: 10vw;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(
		45deg, 
		hsla(51, 100%, 40%, 0.8) 5%,
		hsla(51, 90%, 45%, 0.7) 10%,
		hsla(51, 80%, 70%, 0.8) 30%,
		hsla(51, 100%, 55%, 0.7) 50%,
		hsla(51, 80%, 70%, 0.8) 70%,
		hsla(51, 90%, 45%, 0.7) 90%,
		hsla(51, 100%, 40%, 0.8) 95%
	);
    font-family: 'Acme-Regular'
}
.nav-bar {
	position: relative;
	/* if position is not set to relative the before elements postion wlill take it's position relative to the body */
	/* margin: 1% 100px; */
	/* border-radius: 50px; */
	opacity: 1;
	/* height: 55px; */
	z-index: 1;
	gap: 19px;
	align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -7px;
    height: 65px;
    opacity: 0.6;
    /* padding-top: 5px; */
}
.nav-links a, .side-bar a{
    color: white !important;
    text-decoration: none;
    font-size:18px;
    font-family: "Ubuntu-Medium";
    transition: all 0.2s ease-in;
}
.nav-links a:hover, .side-bar a:hover{
    color: lightblue !important;
    text-decoration: underline;
    font-size:18px;
    /* font-family: "Ubuntu-Medium-Italic"; */
}
.nav-logo-block{
    width: 120px;
    /* padding-left: 20px; */
    /* height: 109px; */
}
.nav-logo{
    width: 100%;
    height: 100%;

}
.nav-links{
    width: fit-content;
    display: flex;
    gap: 2vw;
    justify-content: space-between;
    padding-right: 5vw;
}
.nav-links div{
    width: fit-content;
}
.menu-icon{
    display: none;
    /* border: 1px solid red; */
    width: 35px;
    height: 27px;
    cursor: pointer;
    position: relative;
    margin-right: 20px;
    /* margin-top: 2px; */
    z-index: 2;
    
}
.menu-icon span{
    background: white;
    width: 90%;
    height: 4px;
    display: block;
    position: absolute;
    transition: transform 0.3s ease;
}

.menu-icon span:nth-child(1) {
    top: 0;
  }
  
  .menu-icon span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .menu-icon span:nth-child(3) {
    bottom: 0;
  }
  
.side-bar{
    position: absolute;
    height: 50%;
    width: 200px;
    background: linear-gradient(rgba(0, 0, 0, 0.8) 70%, transparent);
    top: 65px;
    right: 0;
    transform: translateX(100%);
    /* transform: translateY(-200%); */
    /* transform: translate(100%,-200%); */
    /* transform: scaleY(0); */
    transform-origin: top;
    transition: all 0.8s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 20px;
    z-index: 1;
}
.side-bar.open{
    
    transform: translateY(0);

}

@media screen and (max-width: 1000px){
    .nav-links{  
        display: none
    }
    .menu-icon{
        display: block;
    }
}
@media screen and (min-width: 1000px){
    .side-bar{
        display:none;
    }
}
.menu-icon.open span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.menu-icon.open span:nth-child(2) {
    opacity: 0;
}

.menu-icon.open span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}
/* .nav-bar */
@media screen and (max-width: 1000px){
    .main_heading{
        font-size: 7rem;
    }

}
.search_block{
    transform: translate(0%, -50%); 
}
.search_form {
	/* border: 4px solid green; */
	display: grid;
	grid-template-rows: 40px;
	grid-template-columns: 50px auto auto 50px;
	/* width: 300px; */
	/* margin-left: -80%; */
	height: 100%;
	/* margin: auto;  */
	/* margin-top: 2px; */
	width:100%;
    
	/* justify-self: flex-start; */
	border-radius: 50px;
	position: relative;
	/* box-shadow: 0 3px 9px , inset 0 0 9px white; */
	opacity: 0.9;
	transition: all 1s ease;
	background-color: transparent ;
	/* margin-right: 10px; */
}

.search {
	
	border-radius: 50px;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	font-size: 20px;
	position: relative;
	grid-area: 1/ 1/ 2/ 5;
	border-top: transparent;
	border-bottom: transparent;
	transition: all 1s ease;
	/* border: 1px solid transparent; */
	/* border-left: 2px solid hsl(0, 4.8%, 28.4%); */
	/* border-right: 2px solid hsl(0, 4.8%, 28.4%); */
	width: 100%;
	height: 120%;
	padding-inline-start: 20px !important;
	padding-inline-end: 50px !important;
}
.search::placeholder {
	/* padding-left: 35px; */
	font-style: italic;
	font-size: 20px;
	/* padding: 0px 35px 0px; */
	
}
.search_button{
	text-indent: -999px;
	position: relative;
	/* z-index: 5; */
	/* overflow: visible; */
	/*  */
	width: 26px;
	height: 26px;
	grid-area: 1/4/2 /5;
    transform: translate(30%, 10%);
	align-self: center;
	/* margin-left: -90%; */
	border: 1px solid transparent;
	/* border-radius: inherit; */
	background: transparent url(search_icon.svg) no-repeat center;
	cursor: pointer;
	/* line-height: 2.1rem; */
}



.search_form:hover{
	opacity: 1;
	/* animation: bordertransition 2s linear  */
	/* box-shadow: 0 0px 0px black, inset 0 0 0px white; */
}
.search:hover{
	opacity: 1;
	/* background:linear-gradient(white, white) padding-box,
	linear-gradient(darkblue, darkorchid) border-box; */
	/* background: linear-gradient(white, white) padding-box */
}
.search_form:hover .search{
    opacity: 1;
}
.search_form:focus .search{
    opacity: 1;
}
.search_button:hover{
	opacity: 1;
}

.search:focus{
	opacity: 1 !important;
	outline: none;
	outline-width: 0;
	border-left: 3px solid rgb(255, 0, 255);
	border-right: 3px solid rgb(255, 0, 255);
	border-top: 2px solid rgb(255, 0, 255);
	border-bottom: 2px solid rgb(255, 0, 255);
	box-shadow: 0 3px 9px black, inset 0 0 9px white;
	
	/* box-shadow: 0 3px 9px rgb(105, 6, 95), inset 0 0 0px white ; */
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

.index_text{
    color: white;
    font-family: 'Acme-Regular';
    font-size: 40px;
}
.index_text_block{
    transform: translate(0, -10%)
}
.company_card_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 90vw;
    /* border: 1px solid red; */
    /* margin-top: -40px; */
    /* flex: 1 1; */
    flex-shrink: 1;
    flex-grow: 1;
}

.company_card{
    /* border: 1px solid red; */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    width: 200px;
    height: 75px;
    /* min-width: 100px; */
    display: flex;
    align-items: center;
    transition: background-color 0.5s ease-in-out;
}
.company_card:hover{
    background-color:  rgba(255, 255, 255, 0.2);
}
.company_card_link{
    text-decoration: none;
}
.company_logo_block{
    width: 25%;
    padding: 10px;
}
.company_name_block{
    width: 60%;
    padding-left: 5px;
    /* text-align: center; */
}
.company_name_text{
    color: white;
    /* border: 1px solid red; */
    font-size: 20px;
    font-family: 'Platypi';
    color: rgb(174, 205, 236);

    
}
.index_company_logo{
    /* border: 1px solid red; */
    width: 50px;
    height: 50px;
    /* margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px; */
    border-radius: 20px;
}
.add_company_block{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    width: 50vw;
    max-width: 530px;
    height: 730px;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding: 20px;
 
}
.add_company_heading, .add_question_heading{
    padding: 10px;
    width: 90%;
    border-radius:500px;
    text-align: center;
    padding-bottom: 20px;
}
.add_company_heading span, .add_question_heading span{
    background: repeating-linear-gradient(135deg, rgb(0,0,0) 0px, rgb(0,0,0) 10px,transparent 10px, transparent 11px),
    repeating-linear-gradient(22.5deg, rgb(0,0,0) 0px, rgb(0,0,0) 10px,transparent 10px, transparent 11px),
    linear-gradient(90deg, hsl(194,74%,56%),hsl(266,74%,56%),hsl(338,74%,56%),hsl(50,74%,56%),hsl(122,74%,56%)); 
    text-decoration: underline !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid rgb(84, 177, 208);
    font-family: 'Ubuntu-Large';
    font-size: 6vw;
}

@media (min-width: 1000px) {
    .add_company_heading span, .add_question_heading span {
      font-size: 3.5rem; 
    }
  }
.add_company_block{
    
}
.Cform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
    width: 100%;
    height: 80%;
    /* transform: translate(0, 5%); */

}
.Cform div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 15px;
    /* border: 1px solid red; */
    width: 100%;
}

.Cform label{
    color: rgb(185, 227, 241);
    font-family: 'Ubuntu-Medium';
    padding-left: 2px;
    margin-left: 20px;
    /* border-bottom: 2px solid blue; */
    /* text-decoration-color: black !important; */
} 
.Cform input{
    width: 80%;
    height: 30px;
    border-radius: 4px;
    padding: 3px;
    margin-left: 20px;
    padding-top: 5px;
    font-size: 1.2rem;
    font-family: 'Acme-Regular';
    padding-inline-start: 10px;
    outline: none;
    transform: translate(0%, -20%);
    background-color: #595858;
    color: white;
    border: 2px solid transparent;
}

.Cform input::placeholder{
    font-size: 1.2rem;
    font-family: 'Acme-Regular';
    color: hsla(0, 1%, 69%, 0.5);
}
.custom-file-input {
    position: relative;
    display: inline-block;
    /* overflow: hidden; */
    background-color: #595858;
    /* background-color: #f0f0f0; */
    padding: 10px;
    border-radius: 5px;
    height: 18px;
    width: 96% !important; 
    margin-right: 20px;
    /* border:1px solid red; */
    overflow: hidden;
    transition: all 0.5s ease-in-out; 
}


#file-label {
    /* transform: translate(-10%, -15%); */
    transition: all 0.5s ease; 
    /* font-size: 20px; */
    position: absolute;
    z-index: 1;
    left: 28px;
    font-size: 1.2rem;
    font-family: 'Acme-Regular';
    color: hsl(0, 1%, 69%);
    opacity: 0.5;
    padding:5px;
    overflow-y: scroll;
    width: 65%;
    height: 25px !important;
    /* border: 1px solid red; */
    /* width: 60% !important;  */
    /* margin-left: 20px; */
}

.Cform_logo_container{
    width: 70% !important;
    margin-left: 20px;
}
.Cform_logo_container:hover #file-label{
    font-size: 1.3rem;
    color: hsla(0, 1%, 69%, 1);
}
.Cform_logo_container:hover .custom-file-input{
    border: 1px solid #ccc;
}
.Cform_logo{
    /* border:1px solid red !important; */
    margin-left: -10px !important;
    background-color: transparent !important;
    border: 2px solid transparent !important;
    position: absolute;
    margin-top: 15px;
    /* border: 1px solid red; */
    width: 100% !important;
    opacity: 0;
    z-index: 4;
}
.Cform_description{
    width: 85%;
    margin-left: 20px;
    background-color: black;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: #595858;
    color: white;
    border: 2px solid transparent;
    font-family: 'Acme-Regular';
    padding: 5px;
    font-size: 1.1em;
    outline: none;
}

.add_company_submit_btn, .add_question_submit_btn{
    align-self: center;
    width: 40%;
    height: 50px !important;
    border-radius: 10px;
    /* background: rgb(172, 22, 209); */
    color: lightblue;
    font-family: 'Acme-Regular';
    font-size: 1.4rem;
    cursor: pointer;
    transform: translate(0%, 40%);
    transition: all 0.5s ease;
    border: 2px solid transparent;
    background: repeating-linear-gradient(135deg, rgb(0,0,0) 0px, rgb(0,0,0) 10px,transparent 10px, transparent 11px),
    repeating-linear-gradient(22.5deg, rgb(0,0,0) 0px, rgb(0,0,0) 10px,transparent 10px, transparent 11px),
    linear-gradient(90deg, hsl(194,74%,56%),hsl(266,74%,56%),hsl(338,74%,56%),hsl(50,74%,56%),hsl(122,74%,56%)); 
}
.add_question_submit_btn{
    align-self: center;
    width: 40%;
    height: 100px !important;
    border-radius: 10px;
    /* background: rgb(172, 22, 209); */
    color: lightblue;
    font-family: 'Acme-Regular';
    font-size: 1.4rem;
    cursor: pointer;
    transform: translate(0%, 40%);
    transition: all 0.5s ease;
    border: 2px solid transparent;
    background: repeating-linear-gradient(135deg, rgb(0,0,0) 0px, rgb(0,0,0) 10px,transparent 10px, transparent 11px),
    repeating-linear-gradient(22.5deg, rgb(0,0,0) 0px, rgb(0,0,0) 10px,transparent 10px, transparent 11px),
    linear-gradient(90deg, hsl(194,74%,56%),hsl(266,74%,56%),hsl(338,74%,56%),hsl(50,74%,56%),hsl(122,74%,56%)); 
}
.add_company_submit_btn:hover, .add_question_submit_btn:hover{
    font-size: 1.5rem;
    color: rgb(99, 197, 230);
    border: 2px solid rgb(99, 197, 230);
}
.add_company_submit_btn:focus, .add_question_submit_btn:focus{
    transform: scale(1.1);
    font-size: 1.5rem;
    color: rgb(99, 197, 230);
    border: 2px solid rgb(99, 197, 230);
}

.Cform_name_warning{
    color: red;
    
    font-family: 'Ubuntu-Light';
    font-size: 12px;
    margin-left: 23px;
    margin-top: -15px;
    display: none;
}

.add_question_block{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    width: 70vw;
    max-width: 630px;
    height: 1100px;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding: 20px;
 
}
.Qform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* border: 1px solid red; */
    width: 85%;
    height: 80%;
    padding: 5px;
}
.Qform > div{
    /* border: 1px solid red; */
    width: 100%;
    /* height: fit-content; */

}
.Qform_label{
    /* position: absolute;
    top: 80%;
    left: 50%;
     */
    color: rgb(185, 227, 241);
    font-family: 'Ubuntu-Medium';
    /* padding-left: 2px; */
    margin-left: -2px;
    font-size: 1.1rem;
    transform: translate(0%, -20%);
    align-self: flex-start!important;
    /* border-bottom: 2px solid blue; */
    /* text-decoration-color: black !important; */
} 
.Qform_image{
    width: 100%;
    height: 30px;
    border-radius: 4px;
    padding: 3px;
    margin-left: 20px;
    padding-top: 5px;
    font-size: 1.2rem;
    font-family: 'Acme-Regular';
    padding-inline-start: 10px;
    outline: none;
    transform: translate(0%, -20%);
    background-color: #595858;
    color: white;
    border: 2px solid transparent;
}
.Qform input::placeholder{
    font-size: 1.2rem;
    font-family: 'Acme-Regular';
    color: hsla(0, 1%, 69%, 0.5);
}

.search_company_block > span > input {
    width: 110%;
    height: 100%;
    border-radius: 4px;
    font-size: 1.2rem;
    font-family: 'Acme-Regular';
    padding-inline-start: 10px;
    outline: none;
    
    background-color: #595858;
    color: white;
    border: 2px solid transparent;
}
.form_search_company{
    height: 40px !important;
    border-radius: 10px !important;
    
}
.search_company_block svg{
    width: 27px;
    height: 27px;
    /* border: 1px solid red; */
    align-self: center;
    /* grid-area: 1/2/2/3; */
    /* margin-left: 75%;
    transform: translate(0%, -300%); */
    
}
.search_company_block{
    display: flex;
    margin-left: -15px;
    width: 100%;
	/* grid-template-rows: 40px;
	grid-template-columns: auto 50px; */
    /* border: 1px solid red; */
}
.search_company_block span{
    flex: 1;
    /* grid-area: 1 / 1 / 2 / 2; */
    width: 70%;
    /* margin-right: 50px; */
    /* border: 1px solid red; */
}
.companies_block{
    /* margin-left: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 350px;
    
}
.form_search_result{
    /* margin-top: -30px; */
    width: 100% !important;
    height: fit-content;
    min-height: 20px;
    max-height: 150px;
    border-radius: 4px;
    padding: 5px;
    margin-left: 4px;
    /* padding-top: 5px; */
    font-size: 1.1rem;
    font-family: 'Acme-Regular';
    padding-inline-start: 10px;
    outline: none;
    background-color: #b3abab;
    color: rgb(29, 69, 83);
    border: 2px solid transparent;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    gap: 10px;
}
.Qform_company_name_container{
    display: flex;
    align-items: center;
    /* justify-content: center !important; */
    height: 20px;
    width: fit-content;
    min-width: 50px;
    max-width: 110px;
    overflow: hidden;
    /* border: 1px solid red;     */
    text-overflow: ellipsis " [..]";
}
.Qform_company_name{
    text-overflow: ellipsis " [..]";
    text-wrap: nowrap;
}
.Qform_company_name_container  input{
    padding: 0px;
}


.search_tag_block > span > input {
    width: 110%;
    height: 100%;
    border-radius: 4px;
    font-size: 1.2rem;
    font-family: 'Acme-Regular';
    padding-inline-start: 10px;
    outline: none;
    
    background-color: #595858;
    color: white;
    border: 2px solid transparent;
}
.form_search_tag{
    height: 40px !important;
    border-radius: 10px !important;
    
}
.search_tag_block svg{
    width: 27px;
    height: 27px;
    /* border: 1px solid red; */
    align-self: center;
    /* grid-area: 1/2/2/3; */
    /* margin-left: 75%;
    transform: translate(0%, -300%); */
    
}
.search_tag_block{
    display: flex;
    margin-left: -15px;
    width: 100%;
	/* grid-template-rows: 40px;
	grid-template-columns: auto 50px; */
    /* border: 1px solid red; */
}
.search_tag_block span{
    flex: 1;
    /* grid-area: 1 / 1 / 2 / 2; */
    width: 70%;
    /* margin-right: 50px; */
    /* border: 1px solid red; */
}
.tags_block{
    /* margin-left: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 350px;
    
}
.Qform_tag_name_container{
    display: flex;
    align-items: center;
    /* justify-content: center !important; */
    height: 20px;
    width: fit-content;
    min-width: 50px;
    max-width: 110px;
    overflow: hidden;
    /* border: 1px solid red;     */
    text-overflow: ellipsis " [..]";
}
.Qform_tag_name{
    text-overflow: ellipsis " [..]";
    text-wrap: nowrap;
}
.Qform_tag_name_container  input{
    padding: 0px;
}
.Qform_new_tag_block{
    width: 100%;
    margin-left: -15px ;
}
.Qform_tags{
    width: 100%;
    height: 30px;
    border-radius: 4px;
    padding: 3px;

    padding-top: 5px;
    font-size: 1.2rem;
    font-family: 'Acme-Regular';
    padding-inline-start: 10px;
    outline: none;
    /* margin-top: -40px !important; */
    background-color: #595858;
    color: white;
    border: 2px solid transparent;
}
.Qform_image_container{
    width: 70.5% !important;
    margin-left: -6px;
    /* display: none */
}
.Qform_image_container:hover #file-label{
    font-size: 1.3rem;
    color: hsla(0, 1%, 69%, 1);
}
.Qform_image_container:hover .custom-file-input{
    border: 1px solid #ccc;
}

.Qform_image_container label{
    margin-left: 38px !important;
    width: 56% !important;

    padding: 7px !important;
}
.Qform_image_block{
    display: flex; 
    flex-direction: column;
    gap: 3px;
     
}
.Qform_image{
    margin-left: -10px !important;
    background-color: transparent !important;
    border: 2px solid transparent !important;
    position: absolute;
    margin-top: -2px;
    border: 1px solid red;
    width: 100% !important;
    opacity: 0;
    z-index: 4;
    /* overflow: hidden; */
}
.Qform_question_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 5px;
    height: 350px;
    transform: translate(0%, 10%);
    width: 100% !important;
}
.Qform_answer_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 5px;
    height: 350px;
    width: 100% !important;
}
.Qform_question, .Qform_answer{
    width: 100%;
    /* margin-left: 20px; */
    background-color: black;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: #595858;
    color: white;
    border: 2px solid transparent;
    font-family: 'Acme-Regular';
    padding: 5px;
    margin-left: -10px;
    font-size: 1.1em;
    outline: none;
}
.Qform_tag_warning{
    color: red;
    
    font-family: 'Ubuntu-Light';
    font-size: 12px;
    /* margin-left: 23px;
    margin-top: -15px; */
    display: none;
}


.CQ_questions_block{
    position: absolute;
    top: 65px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* margin-top: 50px; */
    width: 100vw ;
    /* border: 1px solid red; */
}


.CQ_question_block{
    padding-bottom: 14px;
    padding-top: 5px;
    padding-left: 5px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    width: 90%;
    height: 150px;
    gap: 0px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}
.CQ_question_block:hover{
    background-color:  rgba(255, 255, 255, 0.2)
}
.CQ_question_block div{
    padding-left: 10px;
}
.CQ_company_block{
    grid-area: 1/1/2/3;
    padding: 5px;
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;

}
.CQ_company_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    height: 1px;
    border-radius: 20px;
    background-color:rgba(90, 88, 88, 0.6);
    /* opacity: 0.6; */
    padding: 10px;
    gap:4px;

}
.CQ_green_dot{
    text-indent: -999px;
	background: transparent url(green_circle_border.svg) no-repeat center;
	border: 1px transparent;
    border-radius: 20px;
	height: 5px;
	width:  5px;
}
.CQ_company_name{
    color: white;
    /* padding: 5px; */
    font-size: 0.9rem;
    font-family: 'Acme-Regular';
    opacity: 0.9;
    /* width: 80% */
    
}
.CQ_question_container{
    grid-area: 2/1/3/2;
}
.CQ_question{
    color: white;
    padding-top: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-overflow: ellipsis ;
}
/* .CQ_answer_container{
    grid-area: 3/1/4/2;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px;
    
} */
/* .CQ_answer{
    border: 1px solid blue;
    /* text-overflow: ellipsis " [..]"; */

.CQ_question_image_container{
    grid-area: 2/2/3/3;
    margin-right: 2vw;
    max-width: 100px;
    justify-self: end;
}
.CQ_question_image{
    border-radius: 20px;
    width: 100px;
    object-fit: cover;
}
.CQ_question_tags_block{
    display: flex;
    align-items: center;
    grid-area: 3/1/4/3;
    /* display: 1px solid red; */
}
.CQ_question_tags_container{
    align-items: center;
    display: flex;
    gap: 5px;
    /* border: 1px solid red; */
}
.CQ_question_tag{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 1px;
    border-radius: 20px;
    background-color:rgba(90, 88, 88, 0.6);
    /* opacity: 0.6; */
    padding: 10px;
    font-size: 0.9rem;
    color: rgb(244, 228, 108);
    font-family: 'Ubuntu-Light';
}
.CQ_heading{
    color: white;
    font-size: 1.5rem;
    font-family: 'Ubuntu-Large';
    font-weight: 900;
    align-self: flex-start;
    padding-top: 40px;
    padding-left: 5%;
}
.Q_main_block{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center
}
.Q_question_block{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80vw;
}
.Q_question_container{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    /* align-items: center; */
    flex-wrap: nowrap;
    width: 98%;
    /* border: 1px solid red; */
}
.Q_question{
    color: white;
    font-size: 1.2rem;
    font-family: 'Acme-Regular';
    align-self: flex-start;
    word-wrap: break-word;

}
.Q_company_block{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* gap: 30px; */
    width: fit-content;
    margin-left: -35px;
    /* border: 1px solid red; */
    /* margin-top: -40px; */
    /* flex: 1 1; */
    flex-shrink: 1;
    flex-grow: 1;
}
.Q_company_mainblock{
    display: flex;
    /* gap: 10px; */
    align-items: center;
    width: 87vw;
    justify-content: flex-start;

}
.Q_company_container{
    /* border: 1px solid red; */
    background: linear-gradient(135deg, rgba(101, 195, 196, 0.2), rgba(71, 189, 229, 0.1));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    min-width: 120px;
    width: fit-content;
    height: 50px;
    /* min-width: 100px; */
    display: flex;
    align-items: center;
    gap: 20px;
    transition: background-color 0.5s ease-in-out;
    padding-left: 8px;
}
.Q_company_container:hover{
    background-color:  rgba(255, 255, 255, 0.2);
}
.Q_company_link{
    text-decoration: none;
}
.Q_company_logo_block{
    width: 10%;
    padding: 10px;
}
.Q_company_name_block{
    width: 60%;
    padding-left: 5px;
    /* text-align: center; */
}
.Q_company_name{

    /* border: 1px solid red; */
    font-size: 17px;
    font-weight: 500;
    font-family: 'Acme-Regular';
    color: White;
}
.Q_company_logo{
    /* border: 1px solid red; */
    width: 35px;
    height: 35px;
    margin-top: 2px;
    /* margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px; */
    border-radius: 10px;
}
.Q_question_tags_block{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.Q_question_tags_container{
    align-items: center;
    display: flex;
    gap: 5px;
}
.Q_question_tag{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    height: 1px;
    border-radius: 20px;
    background-color:rgba(90, 88, 88, 0.6);
    /* opacity: 0.6; */
    padding: 10px;
    font-size: 0.9rem;
    color: rgb(240, 239, 232);
    font-family: 'Acme-Regular';
}
.Q_question_image_container{
    display: flex;
    padding: 5px;
    /* flex-direction: row; */
}
.Q_question_image{
    justify-self: center !important;
    border-radius: 20px;
    width: 70%;
    height: 70%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    max-height: 500px;
}

.Q_answer_block{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 15px;
    display: flex;
    flex-wrap: nowrap;
}
.Q_answer_container{
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    /* margin-left:20% */
}
.Q_answer{
    color: white;
    font-family: 'Ubuntu-Light';
    width: 77vw !important;
}
.Q_question_tag_link{
    text-decoration: none;
}
.Q_question_tag:focus{
    text-decoration: none;
}
.Q_question_tag{
    transition: all 0.5s ease-in-out;   
}
.Q_question_tag:hover{
    color: rgb(244, 228, 108);
    transform: scale(1.1);
}
