{%extends "questions/layout.html"%}
{% block content %}
<div class="main_container">
    <div class="main_heading">Questionnaire</div>
    <div class="search_block" style="width: 65%">
        <form class="search_form" action="{% url 'search_results' %}" method="POST">
            {% csrf_token %}
            <input autocomplete="off" type="search" placeholder="Search by topic/question" name="search" class="search" >
            <button type="submit" class="search_button item"></button>
            <!-- <button class="voice-search item"></button> -->
        </form> 
    </div>
    <div class="index_text_block"><span class="index_text">We have interview questions asked by:</span></div>
    <div class="company_card_container" >
        {% for company in companies %}
        <a href="{% url 'company_questions' company.name %}" class="company_card_link">
            <div class="company_card">
                <div class = "company_logo_block"><img src="{{company.logo.url}}" class="index_company_logo"></div>
                <div class="company_name_block"><span class="company_name_text">{{company.name}}</span></div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{%endblock %}
