{% extends "questions/layout.html" %}
{% load static %}
{% block body %}
<body class="loginBody">
    <div class="loginBody2"></div>
    <div class="verifyBlock">
        <div class="login_heading_text">Hello, {{username}}</div>
        <div class="verify_text">A verification link has been sent to <u>{{email}}</u></div>
        <div class="verify_text_end">Please <u>verify</u> it to continue</div>
        <img class="verify_logo" src="{% static 'logo_nobg.png' %}" alt="logo"   >
    </div>

</body>
{% endblock %}