{% extends "questions/layout.html" %}
{% block search %}
<div class="search_block" style="width: 50vw; max-width: 600px; margin-top: 29px">
    <form class="search_form" style="margin-right: 1vw" action="{% url 'search' %}">
        <input type="search" placeholder="Search by topic/question" class="search" style="height: 115% !important" >
        <button type="submit" class="search_button item"></button>
    </form> 
</div>
{% endblock %}

{% block content %}
    <div class="Q_main_block">
        <div class="Q_company_mainblock">
            <div style="width: 130px !important; font-size: 25px; color: gold; font-family: 'Acme-Regular'; word-wrap: break-word">Asked by: </div>
            <div class="Q_company_block">
                {% for company in question.companies.all %}
                <a style="margin-left: 21px" href="{% url 'company_questions' company.name %}" class="Q_company_link">
                    <div class="Q_company_container">
                        <div class="Q_company_logo_block"><img class="Q_company_logo" src="{{company.logo.url}}"></div>
                        <div class="Q_company_name_block"><span class="Q_company_name" >{{company.name}}</span></div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="Q_question_block">
            <div class="Q_question_container" style="display: flex; padding-top: 10px; padding-left: 5px !important;">
                <div style="font-weight: bold; font-size:1.2rem; color: white; font-family: 'Ubuntu-Medium'; color: rgba(239, 232, 34, 0.8)">Q) </div>
                <div class="Q_question">{{question.question}} ?</div>
            </div>
            <div  class="Q_question_tags_block">
                <div class="Q_question_tags_container">
                {% for tag in question.tags.all %}
                    <div class="Q_question_tag">#{{tag.name}}</div>
                {% endfor %}
                </div>
            </div>
            <div class="Q_question_image_container" >
                <img class="Q_question_image" src="{{question.image.url}}" height="100px">
            </div>
        </div>
        <div class="Q_answer_block">
            <div class="Q_answer_container">
                <div style="font-weight: bold; font-size:1.2rem; color: white; font-family: 'Ubuntu-Medium'; color: rgba(239, 232, 34, 0.8)">Ans: </div>
                <div class="Q_answer">{{question.answer}}</div>
            </div>
        </div>
    </div>

{% endblock %}